/* Warna Dasar */
:root {
  --warna-utama: #115e59;
  /* Hijau Tua */
  --warna-latar: #ecfdf5;
  /* Hijau Muda */
  --warna-teks: #1e293b;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--warna-latar);
  color: var(--warna-teks);
  padding-top: 80px;
  /* Fix navbar overlay */
}

/* Hero Section */
.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1533240332313-0db49b459ad6?q=80&w=2574&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Tombol */
.btn-hijau {
  background-color: white;
  color: var(--warna-utama);
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: bold;
  text-decoration: none;
}

.btn-hijau:hover {
  background-color: #d1fae5;
  color: var(--warna-utama);
}

/* Kartu */
.kartu {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  border-top: 4px solid var(--warna-utama);
}

.layanan-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
  margin-top: 70px
}

.judul-layanan {
  font-size: 90px;
  font-weight: bold;
  color: #2f5b40;
  margin-bottom: 10px;
}

.subjudul-layanan {
  font-size: 30px;
  color: #2f5b40;
  margin-bottom: 40px;
}

.layanan-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  transform: scale(1.5);
  transform-origin: top center;
  margin-bottom: 400px;
}

.layanan-card {
  background-color: #369773;
  width: 330px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.judul-kategori {
  background-color: #3c6b55;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.layanan-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.deskripsi-title {
  font-weight: bold;
  color: white;
  margin: 0;
}

.deskripsi-text {
  font-size: 14px;
  color: #f5f5f5;
  text-align: justify;
  margin: 0 0 10px 0;
}

.qr-img {
  width: 120px;
  align-self: center;
  margin: 10px 0;
}

.btn-layanan {
  display: inline-block;
  background-color: white;
  color: #255d43;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  align-self: center;
}

.btn-layanan:hover {
  background-color: #e8f3ed;
}