/* =========================================================
   NAVBAR
========================================================= */
.navbar {
  background-color: var(--warna-utama);
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #a7f3d0 !important;
}

.navbar-toggler-icon {
  filter: invert(1) !important;
}